.flex-container1 {
    background-color: #1f2937;
    height: 400px;
    display: flex;
    flex-direction: column;}
  
    .header-container{
      display:flex;
      flex-direction: row;
      gap: 15px;
      align-items: baseline;
      padding: 5px 50px 15px 50px;  }

       .one {
         font-size: 24px;
         color: #F9FAF8;
         margin-right: auto;
         margin-top: auto;  }
  
       .two,
       .two1,
       .two2 {
         font-siZe: 18px;
         color: #E5E7EB;
         display: inline;}

    .awesome-container {
        display:flex;
        width: auto;
        padding: 5px 0px 5px 50px;
        }     

       .three {font-size:48px;
        font-weight: extra-bold;
        color: #F9FAF8;}
         
       .four {
         font-size: 18px;
         color: #E5E7EB;
         padding: 10px 0px 10px 0px;  }

       .tig {
         width: 300px;
         height: 275px;
         padding-right: 20px;
       }  

       .bone{
         background-color: #3882F6;
         color: white;
        }
.flex-container2 {
  display: flex;
  height: auto;
  flex-direction: column;
  background-color: white;
}   
        .some {
          font-size: 36px;
          font-weight: extra-bold;
          color: #1f2937;
          text-align: center;
        }  

    .image2-container {
      display: flex;
      flex-direction: row;
      gap: 40px;
      padding: 15px 40px 0px 40px;
    }
       .tig1, .tig2, .tig3, .tig4 {
         height: 125px;
         width:  125px;
       }
    .txt-container {
      display: flex;
      flex-direction: row;
      gap: 40px;
      padding: 0px 40px 40px 40px;
    }    
    
      .txt1, .txt2, .txt3, .txt4 {
        text-align: center;
      }

    .quote-container {
      display: flex;
      flex-direction: column;
      background-color: #E5E7EB;
      height: 400px;
    }
       .quote {
        font-size: 36px;
        font-style: italic;
        color: #1f2937;
        padding: 20px 50px 0px 50px;
       }

       .quoter {
        color: black;
        font-weight: bold;
        margin-left: auto;
        padding: 0px 80px 0px 0px;
       }
    .call-container {
      display: flex;
      flex-direction: column;
      background-color: white;
      height: 250px;
      align-items: center;
      justify-content: center;
    }

        .call1-container {
          display: flex;
          flex-direction: row;
          background-color: #3882F6;
          width: 600px;
        }
           .action {
             color: white;
             padding-left: 20px ;
             font-weight: bold;
           }
           .action2 {
             color: white;
             padding-left: 20px;
           }

           .sign {
             color: white;
             background-color: #3882F6;
             height: 30px;
             margin-left: 40px;
             margin-top: 25px;
             text-align: center;
           }
    .footer-container {
        background-color: #1f2937;
        height: 100px;
    }
         .footertxt {
          color: white;
          text-align: center;
          padding-top: 30pxs;
         }

