.flex-container1 {
    display: flex;
    height: 100px;
    gap: 10px;
    border: 25px red;
    justify-content: space-around;
  }
  
   div {
    background: #1f2937;
    padding: 10px;
  }
  
  .one {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    
  }
  
  .two,
  .three,
  .four,
  .six {
    font-siZe: 18px;
    color: #E5E7EB;
  }
  .five {
    font-size:48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    width: 350px;
  }
  .six {
    width: 350px;
  }

  .bone{
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    color: white;
  }